@import "./reset.css";

@import "./font.css";

body {
  font-size: 16px;
  background-color: #fff;
  color: #333;
  font-family: "HyundaiSansText" !important;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.van-field--error .van-field__control,
.van-field--error .van-field__control::placeholder {
  color: rgba(0, 0, 0, 0.5) !important;
}

.van-field__control::placeholder {
  color: rgba(0, 0, 0, 0.5) !important;
}

.van-field__error-message {
  position: absolute;
  top: 100%;
  padding-top: 10px;
}

.van-cell {
  overflow: visible !important;
  position: relative;
  margin-bottom: 20px;
}

.van-cell::after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

/* certification */
.van-toast__text {
  padding: 5px;
  font-size: 12px;
  font-weight: 400;
}

.van-picker__confirm,
.van-picker__cancel {
  font-family: "HyundaiSansHead";
  font-weight: 400;
}

.van-picker__title.van-ellipsis {
  font-family: "HyundaiSansHead";
  font-weight: 600;
}
.van-popup--bottom.van-popup--round {
  border-radius: 0 !important;
}
