.login {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  font-family: "HyundaiSansHead";

  &-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
    padding-bottom: 30px;

    &-title {
      // border-top: 1px solid #aaa;
      font-weight: 800;
      font-size: 22px;
      text-align: center;
      width: 100%;
      padding-top: 20px;
    }

    &-form-box {
      width: 100%;
      padding: 0 20px;

      &-button {
        width: 100%;
        padding-top: 10px;
      }
    }

    &-phone-number {
      font-family: "HyundaiSansHead";
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;
      width: 100%;

      a {
        color: #2c2c2c;
        font-size: 16px;
        text-decoration: underline;
        font-weight: 700;
      }
    }
  }

  &-bottom {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    &-tab {
      height: 40%;
    }
  }

  //탭
  &-tabbar {
    position: relative !important;
  }
  &-tabbar-item {
    background: #333;
  }
}
