.login {
  margin-top: 50px;
  display: flex;
  height: 60vh;
  flex-direction: column;
  justify-content: space-between;
  font-family: "HyundaiSansHead";
  margin-bottom: 100px;

  &-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding-bottom: 30px;

    &-title {
      // border-top: 1px solid #aaa;
      font-weight: 600;
      font-size: 22px;
      text-align: center;
      width: 100%;
      padding-top: 20px;
    }

    &-form-box {
      width: 100%;
      padding: 0 20px;

      .input {
        width: calc(100% - 30px);
        margin: 10px 15px 15px 15px;
        border: none;
        border-bottom: 1px solid #ebedf0;
        padding: 10px 0;
        font-size: 14px;
      }

      ::placeholder {
        color: rgba(0, 0, 0, 0.25);
        font-size: 14px;
      }

      &-button {
        width: calc(100% - 30px);
        padding-top: 20px;
        margin: 0 auto;
        font-weight: 400;
      }
    }
  }

  &-bottom {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    &-tab {
      height: 40%;
    }
  }

  .alert {
    padding: 30px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      padding: 10px 0;
      font-size: 14px;
      text-align: center;
    }

    button {
      width: 100%;
      margin-top: 15px;
      padding: 10px;
      background: #002c5e;
      border-radius: 20px;
      border: none;
      color: white;
    }
  }
}
